<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta content="always" name="referrer">
<!--    <script src="/.../echarts/echarts.min.js"></script>-->
    <script crossorigin="anonymous" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" src="https://lib.baomitu.com/jquery/3.1.0/jquery.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
    <!-- echarts -->
    <script crossorigin="anonymous" integrity="sha512-t9GZbGKCH5MuYUFsq5AdrhllT0kdnc2fNMizKDgLXBBXgHP2dXxjRPOzYJauAXW9OXLlSYELUqWD30k7cb0Mkg==" src="https://lib.baomitu.com/echarts/5.0.2/echarts.min.js"></script>
    <style type="text/css">
        #progresscontainer {
            margin: 50px;
            width: 400px;
            height: 10px;
            border: solid 1px green;
        }
        #progress {
            width: 50%;
            height: 100%;
            background-color: green;
        }
        #p-v {
            position: absolute;
            top: -5px;
            right: 0px;
        }
    </style>
</head>
<body>
<div class="J_conWarp g-lr-mg g-warning-box">
    <h4 class="g-title"> <a href="javascript:history.back()" style="font-size: 16px; color: black; " >< 返回</a></h4>
    <div class="J_containerWarp">
        <div  class="container-fluid g-t-mg2">
            <div class="row" >
                <div class="col-xs-12" >
                    <div id="import_file">
                        <form class="form-horizontal" role="form" id="excelExportForm">
                        </form>
                        <form class="form-horizontal" role="form" id="downloadErrorExcelForm">
                            <input type="hidden" name="fileName" id="fileName" value="" />
                        </form>
                        <form class="form-horizontal" role="form" id="form1">
                            <div class="form-group ">
                                <label class="col-xs-2 control-label"><em class="text-red">*</em>导入文件</label>
                                <div class="col-xs-10">
                                    <input type="file" id="file" name="file" class="form-control" style="width:400px" accept=".csv" />
                                </div>
                            </div>

                        </form>
                        <div  class="form-group ">
                            <label class="col-xs-2 control-label"></label>
                            <a class="gbn gbn-m" href="javascript:" onclick="E.excelExport();" >下载导入模板</a>
                            <a class="gbn gbn-m" href="javascript:" onclick="E.saveExcel();" >导入</a>
                            <a class="gbn gbn-m gbn-red" href="javascript:" onclick="history.back();" >返回</a>
                        </div>
                    </div>

                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                    <div id="progresscontainer">
                        <div id="progress" style="width: 10%"></div>
                        <div id="p-v">0%</div>
                    </div>
<!--                    <div id="main" style="width:100%;height:550px;"></div>-->
                    <div  id="downloadErrorExcelA"class="col-xs-12" style="height:150px;width:100%;display:none">
                        <div class="col-xs-4"></div>
                        <div  class="form-group ">
                            <a class="gbn gbn-m gbn-red"   href="javascript:" onclick="E.downloadErrorExcel();" >下载错误文件</a>
                            <a id="quxiao" class="gbn gbn-m"   href="javascript:" onclick="E.quxiao();" >取消</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


<script type="text/javascript">
    // https://developer.aliyun.com/article/657237
    window.onload = window.onresize = function() {
      $(".J_containerWarp").height($(window).height() - 60);
      // $(".J_containerWarp").niceScroll({});
    }
    $.ajaxSettings.async=true;
    var uuid=null;
    var setInterval_id=null;

    var progressBar = document.getElementById('progress');
    var p = document.getElementById('p-v')
    var timer = setInterval(function(){
        if(progressBar.style.width == '100%'){
            clearInterval(timer);
            return;
        }

        progressBar.style.width = parseInt(progressBar.style.width)+1+'%';
        p.innerHTML = progress.style.width;
    }, 500);

    var E = {
        excelExport : function() {
            $("form[id=excelExportForm]").attr("action",
                    "${request.contextPath}/student_import/v1/excelExport");
            $("#excelExportForm").submit();
        },
        saveExcel : function() {
            var file = $("#file").val();
            if(!file){
                UIkit.notification({
                    message: '导入的文件不能为空!',
                    status: 'warning',
                    pos: 'top-center',
                    timeout: 5000
                });
                return ;
            }
            //循环获取进度信息
            // setInterval_id=setInterval(E.getAsynInfo,500);

            UIkit.notification({
                    message: 'Loading...',
                    status: 'primary',
                    pos: 'top-center',
                    timeout: 5000
                });
            var formData = new FormData();
            //隐藏导入区域和错误文件下载区域,显示进度条区域
            $("#import_file").hide();
            $("#main").show();
            $("#downloadErrorExcelA").hide();
            formData.append('file', $('#file')[0].files[0]);
             $.ajax({
                    type : "POST",
                    url : "/upload",
                    data : formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success : function(o) {
                        //设置uuid
                        uuid=o.uuid;
                        if(o.code==1){
                            //设置uuid
                            uuid=o.uuid;
                        } else {
                            UIkit.notification({
                                message: ''+o.msg,
                                status: 'error',
                                pos: 'top-center',
                                timeout: 5000
                            });
                        }
                }
            });
        },
        downloadErrorExcel : function() {
            $("form[id=downloadErrorExcelForm]").attr("action",
                    "${request.contextPath}/student_import/v1/downloadErrorExcel");
            $("#downloadErrorExcelForm").submit();
        },
        getAsynInfo:function(){
            //如果uuid存在,进行获取数据
            if(uuid!=null){
                $.post("/get_import_plan",{"uuid":uuid},function(o){
                    //如果获取到了数据
                    if(o.data!=null){
                        // 使用指定的配数据显示图表。
                        option.title.subtext="当前进度   [共"+o.data.totality+"]条";
                        option.series[0].data[0].value=o.data.successSum;
                        option.series[0].data[1].value=o.data.errorSum;
                        option.series[0].data[2].value=o.data.totality-o.data.doneSum;
                        // myChart.setOption(option);
                        //如果导入结束了
                        if(o.data.isEnd){
                            option.title.text="导入完成";
                            // myChart.setOption(option);
                            // clearInterval(setInterval_id);
                            //如果有错误数据,展示错误文件的下载
                            if(o.data.totality>0&&o.data.errorSum>0){
                                $("#fileName").val(o.data.errorFilePath);
                                $("#downloadErrorExcelA").show();
                            }
                            //如果导入中出现的异常
                            if(o.data.msg!=null){
                                $("#import_file").show();
                                $("#main").hide();
                                Message.error(o.data.msg);
                            }else{
                                // Message.success("导入结束,"+o.data.successSum+"条数据导入成功,"+o.data.errorSum+"条数据导入失败");
                                UIkit.notification({
                                    message: "导入结束,"+o.data.successSum+"条数据导入成功,"+o.data.errorSum+"条数据导入失败",
                                    status: 'success',
                                    pos: 'top-center',
                                    timeout: 5000
                                });
                            }
                        }
                    }else{
                        UIkit.notification({
                            message: ''+o.msg,
                            status: 'error',
                            pos: 'top-center',
                            timeout: 5000
                        });
                    }
                });
            }
        },
        quxiao:function () {
            $("#import_file").show();
            $("#main").hide();
            $("#downloadErrorExcelA").hide();
            uuid=null;
        }
    }

</script>
</body>
</html>